wandb
*.png
*.log
*.net
models/__pycache__
boilerplate/__pycache__
resources
__pycache__
*.json
*.wandb
*.yaml
*.patch
*.txt
*.npy
examples/Pixel_Noise/Convallaria/data
examples/Pixel_Noise/Convallaria/Trained_model
examples/Pixel_Noise/Convallaria/wandb
hdn.sbatch
.DS_Store
*.pkl